spring:
  application:
    name: Chat-app
    file:
      uploads:
        media-output-path: ./uploads
  datasource:
    url: jdbc:postgresql://localhost:5432/chatapp
    username: username
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090/realms/chatapp
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
springdoc:
  default-produces-media-type: application/json
